# build artifacts
*.o
dwm/dwm
dwm/dwm-*.tar.gz
dwm/slock/slock
dwm/st/st
dwm/slstatus/slstatus
dwm/dmenu/dmenu
dwm/dmenu/stest

# runtime state
dwm/scripts/.wallpaper

# editor / system
*.swp
*~
.DS_Store
